<a href="https://colab.research.google.com/github/fduartej/python_covid_trabajo_final/blob/main/CovidNotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install -q streamlit

     |████████████████████████████████| 9.2 MB 5.1 MB/s
     |████████████████████████████████| 237 kB 70.5 MB/s
     |████████████████████████████████| 4.7 MB 57.4 MB/s
     |████████████████████████████████| 164 kB 66.9 MB/s
     |████████████████████████████████| 78 kB 6.3 MB/s
     |████████████████████████████████| 182 kB 77.0 MB/s
     |████████████████████████████████| 62 kB 1.2 MB/s
     |████████████████████████████████| 51 kB 6.8 MB/s
  Building wheel for validators (setup.py) ... done

In [8]:
!pip install pyngrok

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyngrok
  Downloading pyngrok-5.2.1.tar.gz (761 kB)
     |████████████████████████████████| 761 kB 5.1 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.8/dist-packages (from pyngrok) (6.0)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.2.1-py3-none-any.whl size=19792 sha256=35502cf8977ac8b9e09c15b8b7f7b73601d684f73d2f71197c1fcec4aab5f27a
  Stored in directory: /root/.cache/pip/wheels/5d/f2/70/526da675d32f17577ec47ac4c663084efe39d47c826b6c3bb1
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.2.1

In [13]:
!./ngrok authtokens 1gFxwTiBsLFTV3MOOPh1TgvkPoJ_5vQgKwpsMbhHsHuiE1S23

/bin/bash: ./ngrok: No such file or directory

In [11]:
from pyngrok import ngrok 
public_url = ngrok.connect(port='8501')
public_url

In [12]:
%%writefile streamlit_app.py 
import streamlit as st 
st.markdown(""" This is a Streamlit App """)

Writing streamlit_app.py

In [3]:
#Inicial
import numpy as np
import pandas as pd
import plotly.graph_objects as go
%matplotlib inline

centro_vacunacion = pd.read_csv('TB_CENTRO_VACUNACION.csv',delimiter=",")
centro_vacunacion.head()

,id_centro_vacunacion,id_ubigeo,nombre,latitud,longitud,entidad_administra,id_eess
0,557,993,"Estacionamiento Del Centro Comercial ""el Quind...",-14.074283,-75.739709,C.S. LOS AQUIJES,0
1,558,993,Estacionamiento Del Centro Comercial Plaza Sol,-14.069467,-75.727896,C.S. LA PALMA,0
2,559,995,Ie 22511,-14.114718,-75.675898,C.S. LOS AQUIJES,0
3,560,998,Ie. Victor Manuel Maurtua,-14.048166,-75.707636,C.S. PARCONA,0
4,561,1000,Primera Loza De La Expansión Urbana,-13.969434,-75.772475,C.S. SAN JUAN BAUTISTA,0

In [5]:
ubigeo = pd.read_csv('TB_UBIGEOS.csv',delimiter=",")
ubigeo.head()

,id_ubigeo,ubigeo_reniec,ubigeo_inei,departamento_inei,departamento,provincia_inei,provincia,distrito,region,macroregion_inei,macroregion_minsa,iso_3166_2,fips,superficie,altitud,latitud,longitud
0,1,10101.0,10101,1,AMAZONAS,101,CHACHAPOYAS,CHACHAPOYAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,154.0,2338.0,-6.2294,-77.8728
1,2,10102.0,10102,1,AMAZONAS,101,CHACHAPOYAS,ASUNCION,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,26.0,2823.0,-6.0325,-77.7108
2,3,10103.0,10103,1,AMAZONAS,101,CHACHAPOYAS,BALSAS,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,357.0,859.0,-6.8358,-78.0197
3,4,10104.0,10104,1,AMAZONAS,101,CHACHAPOYAS,CHETO,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,57.0,2143.0,-6.2556,-77.7008
4,5,10105.0,10105,1,AMAZONAS,101,CHACHAPOYAS,CHILIQUIN,AMAZONAS,ORIENTE,MACROREGION ORIENTE,PE-AMA,1,143.0,2677.0,-6.0783,-77.7375